# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db